#Index {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;

  > header {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd;

    .dropdown-button {
      margin: 0 8px;
    }
  }

  > main {
    padding: 16px 0;
    display: flex;
    justify-content: space-between;
  }
}