#TodoItem {
  display: flex;
  align-items: center;
  padding: 8px 0 8px 8px;
  border-bottom: 1px solid #dddddd;
  &:first-child{
    border-top: 1px solid #dddddd;
  }

  &:hover {
    background: #f9f9f9;
  }

  &.editing {
    background: #fff3d2;
  }

  &.completed {
    > .text {
      text-decoration: line-through;
      color: #a9a9a9;
    }
  }

  > .editing, > .text {
    flex: 1;
  }

  > .text {
    padding: 0 8px;
  }


  > .editing {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > input {
      border: 0;
      padding: 0 8px;
      outline: none;
      background: transparent;
    }

    > .iconWrapper > .anticon {
      margin-left: 4px;
      color: #a9a9a9;
      cursor: pointer;
    }
  }
}
